[submodule "Translations"]
	path = Application/romfs/lang
	url = https://github.com/R-YaTian/NX-Activity-Log-Translations.git
[submodule "Application/libs/SimpleIniParser"]
	path = Application/libs/SimpleIniParser
	url = https://github.com/skyformat99/SimpleIniParser.git
[submodule "Application/libs/Aether"]
	path = Application/libs/Aether
	url = https://github.com/R-YaTian/Aether.git
